$primary-color: #F05697;
$dark-color: #0C131B;
$secondary-color: #898989;
$border-color: rgba(0, 0, 0, 0.1);
$light-color: #F8F9FA;
$white-color: #FFF;
$black-color: #000;
$font-family: 'Montserrat', sans-serif;