$primary-color: #f05697;
$dark-color: #0c131b;
$secondary-color: #898989;
$border-color: rgba(0, 0, 0, 0.1);
$light-color: #f8f9fa;
$white-color: #fff;
$black-color: #000;
$font-family: 'Montserrat', sans-serif;
