@import "../../styles/styles.scss";

.book {
    padding: 40px 50px;
    @include border-radius(30px);
    background: $light-color;
    height: calc(100vh - 80px - 30px);

    .book-container {
        width: 1230px;
        @include flexbox(flex, none, flex-start, column);
        row-gap: 40px;
        overflow: auto;
        max-height: 100%;

        .book-intro {
            @include flexbox(flex, none, flex-start, column);
            row-gap: 10px;

            // .book-welcome {
                // span {
                //     @include typo(30px, 700, normal, $dark-color);
                // }

                // span:last-child {
                //     color: $primary-color;
                // }
            // }

            // p {
            //     @include typo(18px, 500, normal, $dark-color);
            // }
        }
    }
}

.custom-title {
    font-family: $font-family;
    @include typo(20px, 500, 30px, $black-color);
}

.custom-text {
    font-family: $font-family;

    @include typo(20px, 700, 30px, $black-color);
}

.custom-confirm-button {
    font-family: $font-family;

    padding: 12px 30px !important;
    width: 114px !important;
    height: 42px !important;
    border-radius: 10px !important;
    background: $primary-color !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: $white-color !important;

    @include transition();

    &:hover {
        opacity: 0.8;
    }
}

.custom-cancel-button {
    font-family: $font-family;

    padding: 12px 30px !important;
    width: 116px !important;
    height: 42px !important;
    border-radius: 10px !important;
    background: $light-color !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: $dark-color !important;
}
